@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --muted: #999999;
  --accent: #ff6600;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --muted: #666666;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
